*{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    font-family: 'Baskervville','Josefin Sans', 'Times New Roman', sans-serif;
    
}

span{
    color: black;
}


.rows {
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

#main {
    background-image: linear-gradient(rgba(116, 7, 7, 0.493) , rgba(0, 0, 0, 0.788) ) , url(roadBackground.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    color: white;
}

.hero {
    text-align: center;
    padding-top: 20px;
    font-size: large;
    letter-spacing: 2.5px;
    

}
#headline {
    border: 2px solid grey;
    background-color: rgb(90, 86, 86);
}
.hero p:last-child {
    text-decoration: underline;
    letter-spacing: 3.5px;
    color: white;
    background-color: rgba(128, 128, 128, 0.534);

}

